<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
	  <add key="Path" value="http://127.0.0.1:10203"/>
	  <!--<add key="Path" value="http://localhost:20001"/>-->
	  <add key="RemainingSpace" value="10"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
